
<div class="mainContent">
  <div class="settingsHolder">
      <div class="content">
        <p style="font-weight: bold">Share activites</p>
        <p class="content-p">Share my activities, places I visit and follow on doodfy</p>
      </div>
      <div style="padding-right: 30px">
          <mat-slide-toggle></mat-slide-toggle>
      </div>
  </div>
  <div class="settingsHolder">
      <p>Share only with friends</p>
      <div style="padding-right: 30px">
          <mat-slide-toggle></mat-slide-toggle>
      </div>
  </div>
  <div class="settingsHolder">
      <p>Share only with friends and their friends</p>
      <div style="padding-right: 30px">
          <mat-slide-toggle></mat-slide-toggle>
      </div>
  </div>
</div>
