<form class="editForm" [formGroup]="editForm" spellcheck="false">
    <app-image-upload [currentPhoto]="image" (fileSrc)="setImageSrc($event)"></app-image-upload>
    <div class="formFields">
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6"
                      placeholder="Biography" formControlName="biography" cdkTextareaAutosize></textarea>
        </mat-form-field>

        <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="dateContent" style="margin-top: 20px;">
            <input matInput [matDatepicker]="end" (click)="end.open()"
                   formControlName="birthDate" placeholder="Birthday (mm-dd-yyyy)">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end color="accent" disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="placeHolder">
            <mat-form-field>
                <mat-select placeholder="Country" formControlName="country">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let country of countries"
                                [value]="country['id']">{{country['name']}}</mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.get('country').hasError('required')">You must choose a state
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="City" formControlName="city_id">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let city of chosenCities" [value]="city['id']">{{city['name']}}</mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.get('city_id').hasError('required')">You must choose a city
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Facebook Url" formControlName="facebook_url">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Instagram Url" formControlName="instagram_url">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Twitter Url" formControlName="twitter_url">
        </mat-form-field>
    </div>
    <div class="buttonHolder">
        <button mat-flat-button (click)="fillForm(currentUser)">Reset</button>
        <button mat-flat-button color="warn" (click)="saveUserEdit()">Save</button>
        <mat-spinner *ngIf="pending" color="warn" diameter="34"></mat-spinner>
    </div>
</form>
