.editForm {
    color: #fff;
}

.mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.2) !important;
}


.formFields {
    margin-top: 20px;
    width: 600px;
}

.placeHolder {
    display: flex;
    justify-content: space-between;
}

.placeHolder mat-form-field {
    width: 260px;
}

mat-radio-button {
    margin-right: 20px;
}

.buttonHolder {
    display: flex;
}

.buttonHolder button {
    margin-right: 10px;
}
