<div class="support">
  <div class="support-header">
    <div>
      <p>SUPPORTERS</p>
      <span>0</span>
    </div>
    <div>
      <p>SCORED</p>
      <span>0</span>
    </div>
    <div></div>
  </div>

  <div class="support-bottom">
    <div>
      <span class="button">Support this athlete/team</span>
    </div>

    <div>
      <p>Sport support is very important to get to the top</p>
      <p>Support me/us in sports for the best results</p>
    </div>
    <div>
      <span class="button">Inquiry as advertising media</span>
    </div>
    <div>
      <p>I am advertising your company</p>
      <p>Available for verified athletes</p>
    </div>
  </div>
  
</div>
