<div class="medals">

    <div class="medal-item">
        <div class="medals-top">
          <p class="title">Football</p>
        </div>
    
        <div>
          <div class="medals-bottom">
              <div class="medal-xp-holder">
                  <div class="medal-xp">xp</div> <p>0/10</p>
              </div>
              <p style="font-size: 25px;">0%</p>
          </div>
          <mat-progress-bar mode="determinate"  color="accent" value="60"></mat-progress-bar>
        </div>
      </div>

      <div class="medal-item">
          <div class="medals-top">
            <p class="title">Basketball</p>
          </div>
      
          <div>
            <div class="medals-bottom">
                <div class="medal-xp-holder">
                    <div class="medal-xp">xp</div> <p>0/10</p>
                </div>
                <p style="font-size: 25px;">0%</p>
            </div>
            <mat-progress-bar mode="determinate"  color="accent" value="30"></mat-progress-bar>
          </div>
        </div>

        <div class="medal-item">
            <div class="medals-top">
              <p class="title">Strategy</p>
            </div>
        
            <div>
              <div class="medals-bottom">
                  <div class="medal-xp-holder">
                      <div class="medal-xp">xp</div> <p>0/10</p>
                  </div>
                  <p style="font-size: 25px;">0%</p>
              </div>
              <mat-progress-bar mode="determinate" color="accent" value="90"></mat-progress-bar>
            </div>
          </div>

          <div class="medal-item">
            <div class="medals-top">
              <p class="title">Water Sports</p>
            </div>
        
            <div>
              <div class="medals-bottom">
                  <div class="medal-xp-holder">
                      <div class="medal-xp">xp</div> <p>0/10</p>
                  </div>
                  <p style="font-size: 25px;">0%</p>
              </div>
              <mat-progress-bar mode="determinate" color="accent" value="10"></mat-progress-bar>
            </div>
          </div>

</div>