.medal-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid gray;
    height: 115px;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.medals-bottom {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.medal-item:hover {
    box-shadow: 0px 0px 6px 4px rgb(27, 57, 226);
}
.medal-xp-holder {
    display: flex;
    align-items: center;
}
.medal-xp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}
