<p class="title" style="color: white">Ranklist</p>
<hr class="neonLines">
<div class="textHolder"> 
  <p class="title">
    Rankings available soon!
  </p>
  
  <p >
    At sporting events that Doodfy organises for rankings, sporting attributes of
    athletes are officially measured and shown <br> here on the best list of
    Switzerland and the rest of the world.
  </p>
  <p>
    We are looking for sponsors for upcoming events.
  </p>
  
  <p class="title" style="margin-top: 20px;">Ranglisten demnächst verfügbar!</p>
  
  <p>
    Bei Sportanlässen die Doodfy für Ranglisten veranstaltet, werden offiziell,
    sportliche Attribute von Sportlerinnen <br> und Sportlern gemessen und hier auf der
    Besten-Liste der Schweiz und Rest der Welt gezeigt
  </p>
  
  <p>
    Wir suchen Sponsoren für kommende Events. <br />
    Unter dieser Nummer +41 79 267 08 08 Anfragen.
  </p>
  
</div>
