<form [formGroup]="newPasswordForm" (ngSubmit)="change()" class="formGroup">

    <mat-form-field>
        <input matInput placeholder="Enter new password" formControlName="password"
               [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="newPasswordForm.get('password').hasError('required')">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Rewrite password" formControlName="rewritePassword"
               [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="newPasswordForm.get('rewritePassword').hasError('required')">You must enter a value</mat-error>
    </mat-form-field>


    <span *ngIf="newPasswordForm.hasError('match')">The password does not match</span>

    <div class="buttonHolder">
        <mat-spinner class="spinner" *ngIf="pending" color="warn" diameter="34"></mat-spinner>
        <button mat-flat-button color="warn" type="submit">Send</button>
        <div class="spinner" *ngIf="pending"></div>
    </div>
</form>
