<div class="mainContent">
  <div class="settingsHolder" style="padding:25px 20px;">
    <div class="content">
      <p style="font-weight: bold">Notification</p>
    </div>
    <div style="padding-right: 30px" class="toggleButtons">
      <p>E-mail</p>
      <p>Doodfy</p>
    </div>
  </div>
  <div class="settingsHolder">
    <div class="content">
      <p>Products-News</p>
      <p class="content-p">
        Entry, new features and news about activities & products at Doodfy
      </p>
    </div>
    <div style="padding-right: 30px" class="toggleButtons">
      <mat-slide-toggle></mat-slide-toggle>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <div class="settingsHolder">
        <div class="content">
          <p>Doodfy - News and offers</p>
          <p class="content-p">
             News, actions, events and activities that you might like
          </p>
        </div>
        <div style="padding-right: 30px" class="toggleButtons">
          <mat-slide-toggle></mat-slide-toggle>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="settingsHolder">
            <div class="content">
              <p>Recommended Activities</p>
              <p class="content-p">
                    Activities that interest you, recommended activities
              </p>
            </div>
            <div style="padding-right: 30px" class="toggleButtons">
              <mat-slide-toggle></mat-slide-toggle>
              <mat-slide-toggle></mat-slide-toggle>
            </div>
          </div>
          <div class="settingsHolder">
                <div class="content">
                  <p>New Activities</p>
                  <p class="content-p">
                    New added activities of your current or future favorite activity
                  </p>
                </div>
                <div style="padding-right: 30px" class="toggleButtons">
                  <mat-slide-toggle></mat-slide-toggle>
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              </div>
        <div class="settingsHolder">
                    <div class="content">
                      <p>Updated Activities</p>
                      <p class="content-p">
                          An activity you follow is updated. You will receive information about those activities, 
                          and the ones we recommend
                      </p>
                    </div>
                    <div style="padding-right: 30px" class="toggleButtons">
                      <mat-slide-toggle></mat-slide-toggle>
                      <mat-slide-toggle></mat-slide-toggle>
                    </div>
                  </div>
                  <div class="settingsHolder">
                        <div class="content">
                          <p>Invitations and news</p>
                          <p class="content-p">
                                Invitations, News, Friendship Requests, XP Requests, XP Confirmations
                          </p>
                        </div>
                        <div style="padding-right: 30px" class="toggleButtons">
                          <mat-slide-toggle></mat-slide-toggle>
                          <mat-slide-toggle></mat-slide-toggle>
                        </div>
                      </div>
</div>
