<p class="title" style="color: white">Challenges</p>
<hr class="neonLines">
<div class="textHolder">
  <p class="title">
    Challenges coming soon!
  </p>
  <p>
    Here you will soon find various sports challenges that you can master with
    friends, in a group or all by yourself.<br />
    With Challenges you can collect interesting experience points and increase
    your sports experience level faster.
  </p>
  <p style="margin-top: 20px">
    Hier entstehen demnächst für dich verschiedene Sport-Herausforderungen die
    du mit Freunden, in der Gruppe <br />
    oder ganz alleine bewältigen kannst. Bei Herausforderungen kannst du
    interessante mengen Erfahrungspunkte <br />
    sammeln und deine Sportliche Erfahrungsstufe schneller erhöhen.
  </p>
</div>
