<div class="password-details">
  <p class="password-details-title">Change Password</p>

  <form [formGroup]="changePasswordForm" class="formGroup">
    <mat-form-field>
      <input matInput placeholder="Current Password" formControlName="current_password"
      [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePasswordForm.get('current_password').hasError('required')">You must enter a value
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="new_password" 
      [type]="hideNewPassword ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePasswordForm.get('new_password').hasError('required')">You must enter a value
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('new_password').hasError('minlength')">Password minimum length 8
        characters
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Verify Password" formControlName="confirm_password" 
      [type]="hideNewPassword ? 'password' : 'text'" required>
      <mat-error *ngIf="changePasswordForm.get('confirm_password').hasError('required')">You must enter a value
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('confirm_password').hasError('minlength')">Password minimum length 8
        characters
    </mat-error>
    </mat-form-field>
    <mat-error class="error" *ngIf="changePasswordForm.hasError('passwordMatch')">Passwords must match
    </mat-error>
  </form>
  <div class="errors">
    <p>{{error}}</p>
  </div>
  <div class="buttonHolder">
    <button mat-flat-button color="warn" (click)="changePassword()">Save Changes</button>
  </div>
</div>