.password-details {
    color: #dfdfdf;
    border: 1px solid gray;
    padding: 20px;
    width: 440px;
    height: 378px;
}

.password-details-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.buttonHolder {
    display: flex;
    justify-content: center;
}

.error {
    font-size: 12px;
    color: #f44336;
    margin-top: -23px;
    padding-bottom: 9px;
}

.errors {
    height: 23px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: #f44336;
    font-size: 12px;
}
mat-form-field {
    margin-bottom: 10px;
}

@media (max-width: 1700px) {

}

@media (max-width: 1430px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 730px) {
    .password-details {
        margin: 10px;
        padding: 10px;
        width: auto;
        height: auto;
    }
}

@media (max-width: 530px) { 

}


@media (max-width: 320px) {
 
}


