<div class="grayPageTitle"></div>
<div class="cardList">
    <mat-card class="activityCard" *ngFor="let act of activities">
        <img mat-card-image [src]="['assets/images/grayImage.png']" alt="grayImage" height="160px">
        <mat-card-content>
            <div class="grayTitle"></div>
            <div class="grayAuthor"></div>
        </mat-card-content>
        <mat-card-footer class="cardFooter">
            <div>
                <span class="grayIcon"></span>
            </div>
            <div>
                <span class="grayIcon"></span>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
<hr>
<div class="grayPageTitle"></div>
<div class="cardList">
    <mat-card class="activityCard" *ngFor="let act of activities">
        <img mat-card-image [src]="['assets/images/grayImage.png']" alt="grayImage" height="160px">
        <mat-card-content>
            <div class="grayTitle"></div>
            <div class="grayAuthor"></div>
        </mat-card-content>
        <mat-card-footer class="cardFooter">
            <div>
                <span class="grayIcon"></span>
            </div>
            <div>
                <span class="grayIcon"></span>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
