.modal {
    max-width: 500px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
