<div class="modal">
    <div class="modal-header">
        <p class="modal-title">Dear members</p>
        <mat-icon (click)="onCloseModal()">clear</mat-icon>
    </div>
    <p class="modal-content">
        Finally the 1st version of Doodfy is online. Doodfy would like to draw your attention to the fact that the web
        application is in alpha version of Doodfy and we still have some web development to do before it can be fully
        used, in any case try to clear cache or reload the page. For feedback, or to report content, use the following email: <br> <strong><a href="mailto:info@doodfy.com">info@doodfy.com</a></strong>
        <br><br>
        Your personal data and content can be irrevocably deleted during the alpha and beta phase. We wish you a lot of
        fun with the alpha version of doodfy. </p>
 </div>
